	<div class="banner-job">
		<div class="banner-overlay"></div>
		<div class="container text-center">
			<h1 class="title">دانستنی هایی درباره رازهای سلامت و تندرستی</h1>
			<h3>هر روز مقالات آموزشی ما بیشتر خواهد شد</h3>
			<div class="banner-form">
				<form action="#">
					<input type="text" class="form-control" placeholder="لغات مورد نظر خود را وارد نمائید">
					<button type="submit" class="btn btn-primary" value="Search">جستجو</button>
				</form>
			</div><!-- banner-form -->
			
			<ul class="banner-socail list-inline">
				<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
			</ul><!-- banner-socail -->
		</div><!-- container -->
	</div><!-- banner-section -->